name: CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Cache Turbo artifacts
        uses: rharkor/caching-for-turbo@v2.3.9
        with:
          max-age: 1d

      - name: Run type check
        run: npm run check-types
